# Environment
venv/
.env

# Audio uploads
uploads/
*.wav
*.mp3
*.m4a

# Models
models/vosk-model-small-en-us-0.15/
*.pkl
*.zip

# Database
*.db
*.index

# Python cache
__pycache__/
*.pyc

# Logs
*.log
